
body{ 
	margin: 0;
	padding: 0;
    background-color: #679289;
	background-size: 100% auto;
	background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}
/* headers */
h1{
	font-family: "Copperplate Gothic";
	color: #071E22;
	font-size: 280%;
	font-weight: bold;
	text-align: center;
	z-index:1;
}

h2{
	font-family: "Copperplate Gothic";
	color: #071E22;
	font-size: 180%;
	font-weight: bold;
	text-align: center;
	z-index:1;
}

ol {
    padding: 2px 2px;
}

/* navbar dropdown */
.nav{
	position: fixed;
	top:0;
	width:100%;
    padding: 5px;
}
ul {
	top:0;
	width:100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}

ul li {
    float: left;
}

ul li a.active{
	color: red;
}

ul li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover, .dropdown:hover .dropbtn {
    background-color: #071E22;
    color: blue;
}

ul li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #071E22;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #071E22;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* div's for text */
.main{
	font-family: Arial;
	color:#071E22;
	background-color:#1D7874;
	padding: 15px 30px;
	margin-top:42%;
	overflow:auto;
}
.text{
	font-family: Arial;
	color:#071E22;
	background-color:#1D7874;
	padding: 15px 30px;
	margin-top:42%;
	text-align: justify;
	overflow:auto;
}

.text2{
	font-family: Arial;
	color:#071E22;
	background-color:#FAFBFE;
	padding: 15px 30px;
	margin-top:5%;
	text-align: center;
	overflow:auto;
}


/* div's for images */
.imageC{
	text-align:center;	
	font-size:60%;
	color: #071E22;
   	border: none;
   	padding: 5px 5px 5px 5px;
	margin:25px;
	overflow:auto;

}

.imageR{
	text-align:center;
	font-size:60%;
	color: #071E22;
   	float:right;
   	border: none;
	padding: 5px 5px 5px 5px;
	margin:15px;
    
}

.imageL{
	text-align:center;	
	font-size:60%;
	color: #071E22;
   	float:left;
   	border: none;
   	padding: 5px 5px 5px 5px;
	margin:15px;
    

}

.ref{
	text-align:center;	
	font-size:80%;
	color: #071E22;
   	border: none;
   	padding: 5px 5px 5px 5px;
	margin:15px;
	overflow:auto;

}

/* Footer */
footer{
	width: 100%;
	background-color: #1D7874;
	color:#071E22;
	text-align: center;

}
